.main-section
{
    margin-top: 100px;
}

.carousel-inner::before
{
    opacity: 0.3
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
  font-size: 2rem;
  font-weight: bold;
}

.sub-section
{
    margin-top: 30px;
}