.auth {
  margin: 6rem auto;
  width: 95%;
  max-width: 25rem;
  /* border-radius: 6px;
  background-color: rgb(180, 122, 14);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem; */
  /* text-align: center; */
  background-color: white;
  padding: 2rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.auth h1 {
  text-align: center;
  color: orange;
  margin-bottom: 2rem;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: orange;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #f1e1fc;
  color: #38015c;
  border-radius: 6px;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: rgb(164, 112, 17);
  border-color: rgb(164, 112, 17);
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #9f5ccc;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #ae82cc;
}

input.input-error,
select.input-error {
  border-color: #9e2323;
  border-width: 4px;
}

.error {
  color: red;
}

button:disabled {
  opacity: 0.35;
  cursor: not-allowed;
}

.showIcon {
  background-color: transparent;
  border: none;
}

.password {
  position: relative;
}

.password button {
  position: absolute;
  top: 20%;
  right: 1%;
}